    <h1>Regenerate Numbers</h1>

    {{ form(edit_form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('factory') }}">
            Cancel
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
<script>
    
</script>