{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent() }}
    <div id="treecontainer">
	</div>
	
	
	<script>
function refreshTree(){
	$.ajax({
		type:"GET",
		url:"../../bundles/passporttreeview/aciTree/aciTreeCall.html",
		async: true,
		cache:false,
		timeout: 50000,
          	ifModified:true,
		success: function(data){
			outputTree(data);
			setTimeout(
				refreshTree,
				1000
				);
		},
		error: function(XMLHttpRequest, textStatus, errorThrown){
					outputTree("error", textStatus + " (" + errorThrown + ")");
					setTimeout(
						refreshTree, /* Try again after.. */
						15000); /* milliseconds (15seconds) */
		}
	});
}

function outputTree(data){
    //$('#treecontainer').html(data);
    $('#treecontainer').append(data);
}

refreshTree();
</script>
{% endblock %} 
