{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Factory creation</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <a href="#" class='btn' onclick="hideModal();">Cancel</a>

{% endblock %}
