{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Factory creation</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('factory') }}">Cancel</a>
    </li>
</ul>
{% endblock %}
