div.cmenu{
    height: auto;
    border: groove 2px rgb(14,14,14);
    background-color: #fff;
    display: none;
    text-align: left;
}
div.cmenu ul{
    padding: 0px;
    
    
}

div.cmenu li{
    display: block;
    padding: 3px;
    width: 100%; 
    border-bottom: 1px solid #FDFCFC;
}

div.cmenu li:hover{
    background-color: #86CAFD;
    cursor: pointer;
}

#modalcontainer{
	position:fixed;
	width: 100%;
	height: 100%;
	margin:auto;
	text-align:center;
	display: none;
}

#modalscreen{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.5;
}

#modal{
	position:relative;
    width: 400px;
    height: 400px;
    border: dashed 2px #c0c0c0;
    display: block;
	background-color:#fff;
	margin:auto;
	display:none;
}